// Import font
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400&display=swap');

// Import colors
@import "./palette.scss";

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Common
body {
    font-family: 'Libre Franklin', sans-serif;
}

* {
    font-weight: 200 ;
    line-height: 30px;
    font-size: 14px
}

.large-container {
    width: 90%;
    margin: 0 auto;
}

.small-container {
    width: 60%;
    margin: 0 auto;
}

img {
    width: 100%;
}

// Utilities
.main-color-text {
    color: $brand-main-color;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 20px;
    cursor: pointer;
}

span a {
    text-decoration: none;
    color: inherit;
}


