// Import font
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400&display=swap');

// Import colors
@import "./palette.scss";

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Common
body {
    font-family: 'Libre Franklin', sans-serif;
}

* {
    font-weight: 200 ;
    line-height: 30px;
    font-size: 14px
}

.large-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.small-container {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 100%;
}

// Utilities
.main-color-text {
    color: $brand-main-color;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 20px;
    cursor: pointer;
}

span a {
    text-decoration: none;
    color: inherit;
}

// Social media icons
.social-icon {
    border-radius: 3px;
    display: inline-flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.fb-icon {
    background-color: #3c5999;
}

.twt-icon {
    background-color: #449ebf;
}

.insta-icon {
    background-color: #3d729b;
}

.yt-icon {
    background-color: #cc201f;
}

.fa-facebook-f, 
.fa-twitter,
.fa-instagram,
.yt-icon {
    color: $bg-main-color;
}


