// Import font
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400&display=swap');

// Import colors
@import "./palette.scss";

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Common
body {
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    //test
    color: $txt-main-color;
    font-weight: 200;   
}
